/* ArticleForm.css */
.article-form-container {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .input-group input,
  .input-group select,
  .input-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .input-group textarea {
    height: 100px;
  }
  
  .button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  .article-form-container {
    width: 100%; /* Ensures each container takes the full width of its flex container division */
    padding: 20px;
    box-sizing: border-box; /* Includes padding in width calculation */
  }
  